@mixin for-ipad-only {
    @media screen and (max-width:768px) {
        .information__wrapper{
            gap: 10px;
        }
        .image__wrapper{
            width: 88px;
            height: 88px;
        }
    }
}
@mixin for-mobile-only {
    @media screen and (max-width:576px) {
        .information__wrapper{
            flex-direction: column;
            column-gap: 40px;
        }
        .image__wrapper{
            width: 106px;
            height: 106px;
        }
        .nav__menu {
            display: block;
            width: 300px;
            height: 667px;
            background-color:#1B262F;
            margin-right: 0;
            padding-top: 50px;
            padding:  100px 0 0 60px;
        }
        .nav__button {
            display: none;
            visibility: hidden;
        }
        .nav__menu li {
            margin-top: 32px;
        }
        .menu__menu--link  {
            font-family: $main-font;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FBFCFE;
            mix-blend-mode: normal;
            opacity: 0.7;
        }
        .nav__button1 {
            margin-top: 32px;
            display: block;
        }
    }

}