@import "./fonts";
@import "./variables";
@import "./mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
<<<<<<< HEAD
    text-decoration: none;
    box-sizing: border-box;
=======
>>>>>>> 1082a85870a8e0e4ac5a3fc47f2c9ecd3e1399d1
}

body {
    overflow-x: hidden;
    font-family: $main-font;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

@import "./all-blocks/all-blocks";