@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: $main-font;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@import "./all-blocks/all-blocks";

.section__flex{
  display: flex;
  margin-top: 150px;
}

.section__card{
  margin-top: 125px;
}
.section__h2{
  color: $main-color;
  width: 445px;
  font-size: 48px;
  padding-bottom: 24px;

}
.section__text{
    color: $main-color;
    width: 445px;
    font{
      size: 15px;
      weight:400px;

    }
    padding: 5px;
    font-family: "DM Serif Display";
  
}