.semple1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    position: relative;
    &__img {
        position: relative;
    }
    .tel {
        position: relative;
        z-index: 1000;
    }
    .bcolor {
        position: absolute;
        right: -100px;
        bottom: 0px;
        z-index: 0;
    }
}

.semple {
    &__title {
        padding-bottom: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: $main-color;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        max-width: 445px;
        width: 100%;
        color: $main-color;
    }
}

.section__flex {
    display: flex;
    gap: 150px;
}

.section__card {
    margin-top: 125px;
}

.section__h2 {
    color: $main-color;
    width: 445px;
    font-size: 48px;
    padding-bottom: 24px;
}

.section__text {
    color: $main-color;
    width: 445px;
    font: {
        size: 15px;
        weight: 400px;
    }
    padding: 5px;
    font-family: "DM Serif Display";
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 360px;
        width: 100%;
        padding: 0 15px;
    }
    .section__flex {
        flex-direction: column;
        gap: 0;
        &--img {
            max-width: 328px;
            width: 100%;
            height: 209px;
        }
    }
    .section__card {
        margin-top: 0;
    }
    .section__h2 {
        font-size: 36px;
    }
    .section__text {
        font-size: 15px;
        line-height: 28px;
    }
}